<%= simple_form_for(@restaurant) do |f| %>

  <div class="field">
    <%= f.input :name %>
  </div>

  <div class="field">
    <%= f.input :address %>
  </div>

  <div class="field">
    <%= f.input :category %>
  </div>

  <div class="actions">
    <%= f.submit "Save Restaurant", class: "btn btn-primary" %>
  </div>
<% end %>
