<%= simple_form_for [@restaurant, @review] do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>
      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :rating, collection: 0..5, prompt: "Choose a rating" %>
  </div>

  <div class="field">
    <%= f.input :content %>
  </div>

  <div class="actions">
    <%= f.submit "Submit Review", class: "btn btn-primary" %>
  </div>
<% end %>
